<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.kantele.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>__BIN__</string>
    <string>--config</string>
    <string>__SUPPORT__/kantele.toml</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>KANTELE_STATE</key>
    <string>__SUPPORT__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>__LOGS__/kantele.err</string>
</dict>
</plist>
